.navbar-image{
    /* background-image: url('../../assets/Alicent-Hightower-e-Rhaenyra-Targaryen-em-A-Casa-do-Dragao.-Foto-Divulgacao-HBO-Max-2.jpg'); */
    background-image: url('../../assets/capaRhaenyraMd.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
@media (min-width: 1080px){
    .navbar-image{
        /* background-image: linear-gradient(to left, rgba(0,0,0,1) 0%,
        rgba(0,0,0,0) 100%), url('../assets/capaRhaenyraLg.jpg'); */
        background-image: url('../../assets/capaRhaenyraLg.jpg');
        background-size:cover;
        height: 300px;
    }
}

@media (max-width:570px){
    .navbar-image{
        background-image: url('../../assets/capaRhaenyraMb.jpg');
        background-size: cover;
        height: 300px;
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--navbar-color);
    position: sticky;
    top: 0;
    height: 80px;
}

nav li > a::after {
    content: "";
    display: block;
    height: 3px;
    background: transparent;
    transition: all 0.3s;
}

nav li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: var(--branco-color);
}

a:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    opacity: 100%;
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.35rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    opacity: 70%;
}

nav .menu {
    display: none;
    position: absolute;
    top: 2.45rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
    color: #fff;
}

nav img{
    padding-left: 10px;
    padding-top: 7px;
    display: none;
 }

@media (max-width: 579px) {
    nav img{
        display: block;
        width: 50px;
        height: 50px;
    }

    nav .menu {
        display: flex;
        background-color: transparent;
        top: 1.3rem;
        right: 1rem;
    }

    nav .menu-icon{
        width: 18px;
        height: 18px;
        color: var(--tertiary-color);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        height: 60px;
        padding-bottom: 0;
        justify-content: space-between;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: var(--navbar-color);
        padding-top: 20px;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: left;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
        font-size: 1rem;
    }

    a:hover{
        transform: scale(1.0);
    }
}