#tittle {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 60px;
    box-sizing: border-box;
}

.container-list {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.list-item {
    border: 1px solid var(--background-modal);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding-block: 24px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #0B0B0B;
    padding-inline: 40px;
    box-sizing: border-box;
}

.list-item:hover {
    background-color: var(--background-modal);
    border: 1px solid var(--background-color);
}

.list-item img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;
    /* border: 1px solid red; */
}

.list-text {
    /* border: 1px solid red; */
    color: var(--tertiary-color);
    letter-spacing: 3.5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
    line-height: 1.5;
}

.button-learn {
    width: 148px;
    height: 40px;
    color: var(--tertiary-color);
    border-radius: 10px;
    font-size: 1.15rem;
    font-weight: 700;
    box-shadow: var(--shadow-black-buttons);
    background-color: var(--primary-color);
}

@media (max-width: 515px) {
    .list-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 0;
        /* border: 1px solid yellow; */
        /* padding: 0; */
    }

    .list-text {
        width: 100%;
        /* border: 1px solid yellow; */
        padding-inline: 30px;
        box-sizing: border-box;
        align-items: center;
        gap: 24px;
    }

    #tittle {
        /* justify-content: center; */
        padding-inline: 20px;
        font-size: 1.75rem;
        line-height: 1.5;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .list-text {
        width: 60%;
    }
}

/* pagina de escolha de personagens */

.container-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-item h1{
    font-size: 2.3rem;
    /* text-align: center; */
}

.content-list{
    justify-content: center;
}

.image-main{
    border-radius: 50%;
    height: 260px !important; 
    width: 260px !important;
    object-fit: cover;
}

.text-descricion{
    width: 80%;
}