#tittle{
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 60px;
    box-sizing: border-box;
}

.container-list{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.list-item{
    border: 1px solid var(--background-modal);
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color:#0B0B0B;
}

.list-item:hover{
    background-color: var(--background-modal);
    border: 1px solid var(--background-color);
}

.list-item img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: cover;

}

.list-text{
    border: 1px solid red;
    color: var(--tertiary-color);
    letter-spacing: 4px;
    width: 50%;
}

.list-text{

}