.app {
    display: flex;
    flex-direction: column;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* div de escolha de times */

.container-time {
    height: 340px;
    /* background-color: var(--cinza-color); */
    background-image: linear-gradient(to left, var(--green-opaque) 45%, #000000 50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    /* opacity: 70%; */
}

.container-time h1 {
    font-family: "Game of Thrones", sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;
    color: #F2D589;
    line-height: 80px;
    letter-spacing: 4px;
    opacity: 1;
    /* flex-direction: column; */
}

.container-time img {
    width: 220px;
    height: 210px;
}

.content-time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid white; */
    height: 100%;
    padding: 12px;
    opacity: 100%;
    /* gap: 30px; */
}

#button-black,
#button-green,
#button-red {
    width: 200px;
    height: 50px;
    color: var(--tertiary-color);
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 900;
    box-shadow: var(--shadow-black-buttons);
}

button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

#button-black {
    background-color: #790907;
    color: #000000;
}

#button-green {
    background-color: #fed271;
    color: var(--secondary-color);
}

.container-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
}

/* secção do mapa */

.container-mapa {
    background-image: linear-gradient(to left, rgba(14, 13, 13, 0.95) 40%, rgba(0, 0, 0, 0) 100%),
        url('./assets/mapa-Lg.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: right;
}

.content-mapa h2 {
    color: #F2D589;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.9rem;
}

.content-mapa {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* border: 1px solid white; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
}

.content-mapa p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--tertiary-color);
    text-align: justify;
}

#button-red {
    background-color: var(--primary-color);
}

@media(max-width: 750px) {
    .container-time img {
        display: none;
    }

    .container-time {
        height: 100%;
    }

    .content-time h1 {
        font-size: 1.25rem;
        line-height: 50px;
    }

    .content-time {
        gap: 30px;
    }

    /* secção de mapas */
    .container-mapa {
        background-image: linear-gradient(to left, rgba(14, 13, 13, 0.8) 100%, rgba(0, 0, 0, 0) 100%),
            url('./assets/mapa-hd.jpg');
        height: 100%;
        background-size: cover;
    }

    .content-mapa {
        width: 60%;
    }
}

@media(max-width: 1080px) {
    .container-time img {
        width: 180px;
        height: 170px;
    }

    .container-time {
        height: 100%;
    }

    .content-time h1 {
        font-size: 1.25rem;
        line-height: 50px;
    }

    .content-time {
        gap: 30px;
    }

    .container-mapa {
        background-image: linear-gradient(to left, rgba(14, 13, 13, 0.95) 40%, rgba(0, 0, 0, 0) 100%),
            url('./assets/mapa-hd.jpg');
        height: 100%;
    }

    .content-mapa {
        width: 50%;
    }
}

@media(max-width: 425px) {

    /* secção do time  */
    .container-time {
        height: 100%;
    }

    .content-time h1 {
        font-size: 1.5rem;
        line-height: 50px;
    }

    .content-time {
        gap: 30px;
    }

    /* estilos dos buttons  */
    #button-black,
    #button-green,
    #button-red {
        width: 158px;
        height: 44px;
    }

    /* secção de mapas */
    .container-mapa {
        background-image: linear-gradient(to left, rgba(14, 13, 13, 0.8) 100%, rgba(0, 0, 0, 0) 100%),
            url('./assets/mapa-hd.jpg');
        height: 100%;
        background-size: cover;
        /* justify-content: center; */
    }

    .content-mapa {
        width: 100%;
    }

    .content-mapa h2 {
        font-size: 1.5rem;
    }


}